/* 弹窗 */

.t_l, .t_c, .t_r, .m_l, .m_r, .b_l, .b_c, .b_r {
  overflow: hidden;
  background: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.t_l, .t_r, .b_l, .b_r {
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 0;
}

.t_c, .b_c {
  height: 10px;
}

.t_l {
  border-radius: 10px 0 0 0;
  -moz-border-radius: 10px 0 0 0;
  -webkit-border-radius: 10px 0 0 0;
  -o-border-radius: 10px 0 0 0;
}

.t_r {
  border-radius: 0 10px 0 0;
  -moz-border-radius: 0 10px 0 0;
  -webkit-border-radius: 0 10px 0 0;
  -o-border-radius: 0 10px 0 0;
}

.b_l {
  border-radius: 0 0 0 10px;
  -moz-border-radius: 0 0 0 10px;
  -webkit-border-radius: 0 0 0 10px;
  -o-border-radius: 0 0 0 10px;
}

.b_r {
  border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  -webkit-border-radius: 0 0 10px 0;
  -o-border-radius: 0 0 10px 0;
}

.m_l, .m_r {
  width: 10px;
}

.m_c {
  background: #FFF;

  .tb {
    margin: 0 0 10px;
    padding: 0 10px;
  }

  .c {
    padding: 0 10px 10px;
  }

  .o {
    padding: 8px 10px;
    height: 26px;
    text-align: right;
    border-top: 1px solid #CCC;
    background: #F5F5F5;
  }
}

.flb {
  padding: 10px 10px 8px;
  height: 20px;
  line-height: 20px;

  &c {
    float: left;
    width: 20px;
    height: 20px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(./img/cls.gif) no-repeat 0 0;

    &:hover {
      background-position: 0 -20px;
    }
  }

  em {
    float: left;
    font-size: 14px;
    font-weight: 700;
    color: #09C;

    a {
      text-decoration: none;
    }
  }

  span {
    float: right;
    color: #999;

    a:hover {
      color: #999;
    }
  }

  span a, strong {
    float: left;
    text-decoration: none;
    margin-left: 8px;
    font-weight: 400;
    color: #333;
  }
}

.fwin {
  text-align: left;
  background: #FFF;

  .cl {
    li {
      margin: 5px;
      float: left;

      &.a {
        font-weight: 700;
      }
    }
  }

  .c {
    clear: both;
  }

  .dt {
    width: 100%;

    th, td {
      border-bottom: 1px dotted #DEEFFB;
      line-height: 20px;
    }

    th {
      font-weight: 700;
    }
  }

  .ss {
    em {
      background: #eee;
      width: 16px;
      line-height: 18px;
      display: block;
      float: left;
      margin: 2px;
      cursor: pointer;
      padding-left: 7px;

      &.a {
        background: #09f;
        color: #FFF;
      }
    }
  }
}
