// 进度条

.pbg {
  position: relative;
  margin: 10px 0;
  width: 200px;
  height: 16px;
  background: url(./img/bg_progressbar.png) 0 0 repeat-x;
  border-radius: 5px;
  .xs0 {
    position: absolute;
    top: 0;
    right: 8px;
  }
}
.pbr {
  height: 16px;
  width: 200px;
  background-image: url(./img/bg_progressbar.png);
  background-color: #5AAF4A;
  background-position: 0 -16px;
  background-repeat: repeat-x;
  border-radius: 5px;
}
